# Build outputs - only!
*.[oa]
*.mod
*.mod.[co]
*.cell
*.cmd
*.bin
*.gcno
*.gcda
.tmp_versions
*.dtb
*.dtb.S
*.dtb.*.tmp
*.8
.cache.mk
Module.symvers
modules.order
driver/jailhouse.ko
tools/jailhouse
*.s
.vscode
*.img
scripts/host/user-data